<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 通过proxyFilters属性配置 -->
	<bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
   	 	<property name="slowSqlMillis" value="10000" />
   	 	<property name="logSlowSql"    value="true" />
   	 	<property name="mergeSql"      value="true" />
	</bean>

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close" >
	    <property name="driverClassName">
	      <value>${jdbc_driverClassName}</value>
	    </property>
	    <property name="url">
	      <value>${jdbc_url}</value>
	    </property>
	    <property name="username">
	      <value>${jdbc_username}</value>
	    </property>
	    <property name="password">
	      <value>${jdbc_password}</value>
	    </property>
	    <!-- 连接池最大使用连接数 -->
	    <property name="maxActive">
	      <value>${jdbc_maxActive}</value>
	    </property>
	    <!-- 初始化连接大小 -->
	    <property name="initialSize">
	      <value>${jdbc_initialSize}</value>
	    </property>
	    <!-- 获取连接最大等待时间 -->
	    <property name="maxWait">
	      <value>${jdbc_maxWait}</value>
	    </property>
	    <!-- 连接池最小空闲 -->
	    <property name="minIdle">
	      <value>${jdbc_minIdle}</value>
	    </property>
	    <!-- 自动清除无用连接 -->
	    <property name="removeAbandoned">
	      <value>${jdbc_removeAbandoned}</value>
	    </property>
	    <!-- 清除无用连接的等待时间 -->
	    <property name="removeAbandonedTimeout">
	      <value>${jdbc_removeAbandonedTimeout}</value>
	    </property>
	    <property name="timeBetweenEvictionRunsMillis">
	      <value>${jdbc_timeBetweenEvictionRunsMillis}</value>
	    </property>
	    <property name="minEvictableIdleTimeMillis">
	      <value>${jdbc_minEvictableIdleTimeMillis}</value>
	    </property>
	    <property name="validationQuery">
	      <value>${jdbc_validationQuery}</value>
	    </property>
	    <property name="testWhileIdle">
	      <value>${jdbc_testWhileIdle}</value>
	    </property>
	    <property name="testOnBorrow">
	      <value>${jdbc_testOnBorrow}</value>
	    </property>
	    <property name="testOnReturn">
	      <value>${jdbc_testOnReturn}</value>
	    </property>
	    <property name="logAbandoned">
	      <value>${jdbc_logAbandoned}</value>
	    </property> 
	    <!-- 连接属性 -->
	    <property name="connectionProperties">
	      	<value>${jdbc_connectionProperties}</value>
	    </property>
	    
	   <!-- 以下是连接池监控配置信息 -->
	   <property name="proxyFilters">
        	<list>
           		 <ref bean="stat-filter" />
        	</list>
   	  </property>
   	  <property name="useGloalDataSourceStat" value="true" />
	</bean>
    <bean id="dataSourceOracle" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close" >
	    <property name="driverClassName">
	      <value>${jdbc_driverClassName_Oracle}</value>
	    </property>
	    <property name="url">
	      <value>${jdbc_url_oracle}</value>
	    </property>
	    <property name="username">
	      <value>${jdbc_username_oracle}</value>
	    </property>
	    <property name="password">
	      <value>${jdbc_password_oracle}</value>
	    </property>
	    <!-- 连接池最大使用连接数 -->
	    <property name="maxActive">
	      <value>8</value>
	    </property>
	    <!-- 初始化连接大小 -->
	    <property name="initialSize">
	      <value>8</value>
	    </property>
	    <!-- 获取连接最大等待时间 -->
	    <property name="maxWait">
	      <value>${jdbc_maxWait}</value>
	    </property>
	    <!-- 连接池最小空闲 -->
	    <property name="minIdle">
	      <value>4</value>
	    </property>
	    <!-- 自动清除无用连接 -->
	    <property name="removeAbandoned">
	      <value>${jdbc_removeAbandoned}</value>
	    </property>
	    <!-- 清除无用连接的等待时间 -->
	    <property name="removeAbandonedTimeout">
	      <value>${jdbc_removeAbandonedTimeout}</value>
	    </property>
	    <property name="timeBetweenEvictionRunsMillis">
	      <value>${jdbc_timeBetweenEvictionRunsMillis}</value>
	    </property>
	    <property name="minEvictableIdleTimeMillis">
	      <value>${jdbc_minEvictableIdleTimeMillis}</value>
	    </property>
	    <property name="validationQuery">
	      <value>${jdbc_validationQuery}</value>
	    </property>
	    <property name="testWhileIdle">
	      <value>${jdbc_testWhileIdle}</value>
	    </property>
	    <property name="testOnBorrow">
	      <value>${jdbc_testOnBorrow}</value>
	    </property>
	    <property name="testOnReturn">
	      <value>${jdbc_testOnReturn}</value>
	    </property>
	    <property name="logAbandoned">
	      <value>${jdbc_logAbandoned}</value>
	    </property> 
	    <!-- 连接属性 -->
	    <property name="connectionProperties">
	      	<value>${jdbc_connectionProperties}</value>
	    </property>
	    
	   <!-- 以下是连接池监控配置信息 -->
	   <property name="proxyFilters">
        	<list>
           		 <ref bean="stat-filter" />
        	</list>
   	  </property>
   	  <property name="useGloalDataSourceStat" value="true" />
	</bean>
	
	<!-- 对数据源进行事务管理 -->
	<bean name="transactionManager" 
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
        p:dataSource-ref="dataSource"/>
        
 
   <!-- 多数据库别名识别 -->
    <bean name="vendorProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
		        <prop key="SQL Server">sqlserver</prop>
		        <prop key="DB2">db2</prop>
		        <prop key="Oracle">oracle</prop>
		        <prop key="MySQL">mysql</prop>
		        <prop key="H2">h2</prop>
			</props>
		</property>
	</bean>
	<bean name="dbProvider" class="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
		<property name="properties" ref="vendorProperties"/>
	</bean>
	
	
        
        
        
    <!-- 使用annotation定义事务-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" /> 
    
     <!-- 序号服务 -->
     <bean  id="seqNoService" class="com.tangdi.production.tdcomm.idservice.GetSeqNoService">
		 <property name="datasource" ref="dataSource"></property>
		 <property name="cacheSize" value="50"></property>
	</bean>   

	
</beans>