<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
    	<typeAlias alias="CooporgInf"          type="com.tangdi.production.mpcoop.bean.CooporgInf"/>
    	<typeAlias alias="CooporgMerInf"       type="com.tangdi.production.mpcoop.bean.CooporgMerInf"/>
    	<typeAlias alias="CooporgRouteInf"     type="com.tangdi.production.mpcoop.bean.CooporgRouteInf"/>
    	<typeAlias alias="CooporgTermkeyInf"  type="com.tangdi.production.mpcoop.bean.CooporgTermkeyInf"/>
    </typeAliases>
</configuration>