.dialog_box {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
}

.dialog_list {
	display: none;
}

.dialog_box .widget-box {
	background: white;
	margin: 0px;
}

.dialog_box .widget-body {
	padding-top: 0px;
	padding-bottom: 0px;
	
}

.dialog_box .widget-title {
	font-size: 12px;
	font-weight: bolder;
}

.form-button-box {
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	border: 1px solid #CCC;
}