<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/aop   
      http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.0.xsd">
      
        <!-- 扫描service（service层注入） -->
	<context:component-scan base-package="com.tangdi.production.tdbase.service"/>
    
      
	<!-- spring系统启动以后，加载该类，查询所有数据 	-->
	<bean class="com.tangdi.production.tdbase.init.InitDataListener" />
	
    <!-- 获取springContext对象 -->	
	<bean id="SpringContext" class="com.tangdi.production.tdbase.context.SpringContext" scope="singleton" lazy-init="false" />


</beans>